.button-top{
    height: 130px;
    width: 170px;
    background-image: url(img/6.svg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    z-index: -10;
    cursor: pointer;
    margin-top: 30px;

}

