<div class="parallax-2" tm-parallax tm-image-path="/img/11.jpg">
    <div class="second-main-title">
        <h2 class="h2">{{lang.naredite}}</h2>
    </div>

    <div class="second-title">
        <h1 class="h1">{{lang.rezervacija}}</h1>
    </div>
    <div class="line"></div>

</div>


<!--1. content container-->
<div class="content-container-rezervacije" id="first-content-container">

    <div class="content-rezervacija">
        <div class="left-rezervacija">
            <h2 class="rezervacija-naslov">{{lang.kontaktirajte}}</h2>
            <p class="rezervacija-telefon">{{lang.contactcontent}}</p>
            <h2 class="rezervacija-naslov">{{lang.follow}}</h2>
            <div class="icon-container">

                <a href="https://www.facebook.com/GostilnaStrunjan/" target="_blank">
                    <div class="social-icons">
                        <div class="icon-facebook2 social-icon"></div>
                    </div>
                </a>

            </div>
        </div>
        <div class="right-rezervacija">
            <form>

               <div class="fullname">
                <input type="text" id="fname" ng-model="reservation.name" name="firstname" placeholder="FIRST NAME">
                <input type="text" id="lname" ng-model="reservation.surname" name="lastname" placeholder="LAST NAME">
               </div>
                <input type="text" id="number" ng-model="reservation.phone" name="phonenum" placeholder="PHONE NUMBER">
                <input type="text" id="email" ng-model="reservation.email" name="emailname" placeholder="EMAIL">
                <textarea id="textarea" ng-model="reservation.message" placeholder="ABOUT..."></textarea>
                <input type="submit" ng-if="!sent" ng-disabled="sending" ng-click="sendMail()" id="submit" value="{{sending?'Sending':'Send'}}">

            </form>
        </div>
    </div>
</div>

<!-- 2. parallax -->

<div class="parallax-3" tm-parallax tm-image-path="/img/8.jpg"></div>

<div class="button-top" tm-arrow><a></a></div>

<div class="last-container">
    <p class="author" ><br/><br/><br/>Gostilna Strunjan &nbsp; • &nbsp; {{lang.author}} &nbsp; • &nbsp; {{lang.number}}.: 040-417-959<br/> <br/></p>

</div>
