<div class="parallax-window" id="second-parallax" data-parallax="scroll" data-image-src="./img/11.JPG">
    <div class="second-main-title">
        <h2 class="h2">Naredite</h2>
    </div>

    <div class="second-title">
        <h1 class="h1">REZERVACIJO</h1>
    </div>
    <div class="line"></div>

</div>


<!--1. content container-->
<div class="content-container-rezervacije" id="first-content-container">
    <h4 class="h4">INTERNETNA REZERVACIJA</h4>

    <div class="vnasanje-rezervacije">

        <input type="text" id="datepicker">
        <select id="party-otreservations" name="partySize" class="otw-party-size-select selectpicker"><option value="1">1 Person</option>
            <option value="2" selected="selected">2 People</option><option value="3">3 People</option><option value="4">4 People</option>
            <option value="5">5 People</option><option value="6">6 People</option><option value="7">7 People</option><option value="8">8 People</option>
            <option value="9">9 People</option><option value="10">10 People</option> </select>
    </div>

    <div class="content-rezervacija">
        <div class="left-rezervacija">
            <h2 class="rezervacija-naslov">REZERVACIJA PREKO TELEFONA</h2>
            <p class="rezervacija-telefon">We take reservations for lunch and dinner. To make a reservation, please call us at (027) 8338 145.</p>
        </div>
        <div class="right-rezervacija">
            <h2 class="rezervacija-naslov">REZERVACIJA DOGOTKOV</h2>
            <p class="rezervacija-dogotkov">Whatever your event or celebration, we are here to make your special day a truly memorable one. Rosa’s private dining experts are more than happy to create custom floral arrangements.</p>
        </div>
    </div>
</div>

<!-- 2. parallax -->

<div class="parallax-window" id="third-parallax" data-parallax="scroll" data-image-src="./img/8.JPG"></div>

<div class="button-top"><a href="#top"></a></div>

<div class="last-container">
    <p class="author" ><br/><br/><br/>Gostilna Strunjan &nbsp; • &nbsp; Strunjan 23, 6320 Portorož, Slovenija &nbsp; • &nbsp; Št.: 040-417-959<br/>Tom Mozgan, 2016. <br/></p>

</div>
