<div>

    <div class="top-burger-menu">
        <div class="burger-menu" id="menu">
            <div class="icon-menu2 side-menu-icon"></div>
        </div>
    </div>

    <div class="left-sidebar">
        <div class="sidebar-nav-container">
            <div class="sidebar-nav-item" ui-sref-active="sidebar-nav-item-active" ui-sref="Gostilna-Strunjan.home">DOMOV</div>
            <div class="sidebar-nav-item" ui-sref-active="sidebar-nav-item-active" ui-sref="Gostilna-Strunjan.menu">MENU</div>
            <div class="sidebar-nav-item" ui-sref-active="sidebar-nav-item-active" ui-sref="Gostilna-Strunjan.rezervacija">REZERVACIJA</div>
            <div class="sidebar-nav-item" ui-sref-active="sidebar-nav-item-active" ui-sref="Gostilna-Strunjan.kontakt">KONTAKT</div>


        </div>

        <div class="icon-container">

            <a href="https://www.facebook.com/GostilnaStrunjan/" target="_blank">
                <div class="social-icons">
                    <div class="icon-facebook2 social-icon"></div>
                </div>
            </a>

        </div>

    </div>



</div>
