<!--1. parallax-->
<div class="parallax-window" id="top-parallax" data-speed="0,3" data-parallax="scroll" data-image-src="./img/10.JPG">

    <div class="top-title">
        <h2 class="h2">Dobrodošli</h2>
    </div>

    <div class="main-title">
        <h1 class="h1" id="main-title-overlay">GOSTILNA STRUNJAN</h1>

    </div>

    <div class="line"></div>

</div>

<!--1. content container-->
<div class="content-container" id="first-content-container">

<!--levi kontejner z(o nas, zvezdico, textom in linkom)-->
    <div class="left-content-container">
        <div class="O-nas"><div class="left-content-container-h">O nas</div></div>
        <div class="sign"><h2 class="left-content-container-h">*</h2></div>

        <p class="content">
            Gostišče v avtokampu v Strunjanu vam nudi vse vrste hrane za zaključene družbe in večerje v dvoje. Prav tako gostimo manjše prireditve ter ostale dogodke.
        </p>

        <a href="menu-3" class="menu-3" id="#menu-3" ui-sref="Gostilna-Strunjan.rezervacija">REZERVIRAJTE</a>
    </div>

<!--desni kontejner z slikami-->
    <div class="right-content-container">
        <div class="right-photo-container">
            <div class="photo-content-1"></div>
            <div class="photo-content-2"></div>
        </div>
    </div>

</div>

<!-- 2. parallax -->

<div class="parallax-window" id="second-parallax" data-parallax="scroll" data-image-src="./img/3.JPG">
    <div class="second-main-title">
        <h2 class="h2">Dobrote</h2>
    </div>

    <div class="second-title">
        <h1 class="h1">KUHINJE</h1>
    </div>
</div>

<!--2. content container-->

<div class="second-content-container" id="second-content-container">

    <!--levi kontejner z slikami-->
    <div class="left-content-container-second">
        <div class="top-photo-container">
            <div class="photo-content-3"></div>
            <div class="photo-content-4"></div>
        </div>
        <div class="bottom-photo-container">
            <div class="photo-content-5"></div>
            <div class="photo-content-6"></div>
        </div>
    </div>

<!--desni kontejner z(nase dobrote, zvezdico, textom in linkom)-->
    <div class="right-content-container-second">
        <div class="nase-dobrote"><div class="right-content-container-h-second">Naše jedi</div></div>
        <div class="sign"><h2 class="right-content-container-h-second">*</h2></div>
        <div class="content-second">
            Pri nas vam postrežemo z ribjimi specialitetami, jedi z žara, dnevno sveže pripravljene malice, kosila in večerje.
        </div>
        <a href="menu-3" class="menu-3" id="#menu-3" ui-sref="Gostilna-Strunjan.menu">OGLEJTE SI MENU</a>
    </div>

</div>

<div class="parallax-window" id="third-parallax" data-parallax="scroll" data-image-src="./img/8.JPG">
</div>

<div class="button-top"><a href="#top"></a></div>

<div class="last-container">
    <p class="author" ><br/><br/><br/>Gostilna Strunjan &nbsp; • &nbsp; Strunjan 23, 6320 Portorož, Slovenija &nbsp; • &nbsp; Št.: 040-417-959<br/> <br/></p>


</div>
<!-- -->
