html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
}



.vnasanje-rezervacije{

    width: 1000px;
    height: 100px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    margin-top: 30px;
    margin-bottom: 30px;
}
