html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
}


.maps{

    height: 250px;

}

.content-container-kontakt{

    max-height:550px;


}


.vnasanje-rezervacije{

    width: 1000px;
    height: 100px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    margin-top: 30px;
    margin-bottom: 30px;
}

.parallax-2{

    height:400px;

}

.parallax-3{

    height:400px;

}

.content-kontakt{

    width: 1000px;
    height: 230px;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

}

.right-kontakt{

    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;

}

.left-kontakt{

    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    text-align: center;


}



//fb ikona

.icon-container{

    padding: 15px 15px;

}

.icon-container a:hover, .icon-container a:focus {
    color: inherit;
    text-decoration: none;
}

.social-icons-2{

    height: 70px;
    width: 90px;
    padding: 0;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.social-icon{

    padding:15px 27px;
    font-size:50px;
    transition:all 0.3s;
    color: black;
    z-index: 3;
    margin-right: 20px;
    text-align: center;

}

.social-icon:hover{

    color:#af8b52;
    cursor: pointer;

}

.rezervacija-telefon{

    padding-top:20px;

}


@media (max-width: 900px) {
    .content-kontakt{

        width: 100%;
        height: 400px;
        padding: 0px;
        background-color: #fff;
        margin: 0;
    }
}

@media (max-width: 900px) {
    .left-kontakt{

        width: 100%;
        height: 150px;
        padding: 0px;
        background-color: #fff;
        margin-top: 50px;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .right-kontakt{

        width: 100%;
        height: 200px;
        padding: 0px;
        background-color: #fff;
        margin-top: 50px;
        text-align: center;
    }
}

